[submodule "config/vim/pack/nerdtree/start"]
	path = config/vim/pack/nerdtree/start
	url = git@github.com:preservim/nerdtree
[submodule "config/vim/pack/vim-flake8/start"]
	path = config/vim/pack/vim-flake8/start
	url = git@github.com:nvie/vim-flake8
[submodule "config/vim/pack/vim-surround/start"]
	path = config/vim/pack/vim-surround/start
	url = https://github.com/tpope/vim-surround.git
