boto3>=1.20.46,<2
botocore>=1.23.46,<2
cryptography>=36.0.1
decorator>=5.1.1
flake8>=4.0.1,<5
ipython>=8.0.1
OpenPGPpy>=0.5,<1
pyusb>=1.2.1
pywal>=3.3.0,<4
requests>=2.27.1,<3
thefuck>=3.32
tldr>=3.1.0
virtualenv>=20.11.0
wheel>=0.37.1
